/.texpadtmp/
Spieleabend.psd
manual.pdf
manual_compressed.pdf
zeitplan.pdf
faltblatt.pdf
PoSo/
*.aux
*.log
*.out
*.toc
manual.fdb_latexmk
manual.fls
zeitplan.fdb_latexmk
zeitplan.fls
texput.fls
alt
manual.synctex.gz
.DS_Store
kopimi.htaccess
awesomebox.sty
